.contenedor_1 {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}
.contenedor_2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}
input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="file"] {
    margin-bottom: 15px;
}
textarea {
    resize: vertical;
}
.buttonForms {
    background-color: #671C34;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
.buttonForms:hover {
    background-color: #FBAD20;
}
@media (max-width: 768px) {
    .contenedor {
        grid-template-columns: 1fr;
    }
}
/* info */
.informacion {
    display: grid;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    align-items: center;
}

.informacion h3 {
    grid-column: span 4;
    font-size: 1.8em;
    color: #671C34;
    margin-bottom: 15px;
    background-color: #d7d7d7ba;
    border-radius: 0.3rem;
    text-align: center;
}

.informacion p {
    margin: 5px 0;
    color: #555;
    font-size: 1em;
    line-height: 1.5;
}

.informacion p strong {
    color: #000;
}

.buttonInfo {
    grid-column: span 1;
    background-color: #671C34;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    justify-self: end; 
}

.buttonInfo:hover {
    background-color: #FBAD20;
}

.informacion p:nth-child(2),
.informacion p:nth-child(3),
.informacion p:nth-child(4) {
    grid-column: span 2; 
}

.informacion p:nth-child(5),
.informacion p:nth-child(6),
.informacion p:nth-child(7),
.informacion p:nth-child(8) {
    grid-column: span 1; 
}

@media (max-width: 1024px) {
    .informacion {
        grid-template-columns: repeat(2, 1fr); 
    }

    .informacion h3 {
        grid-column: span 2; 
    }

    .buttonInfo {
        grid-column: span 2; 
        justify-self: center; 
    }
}

@media (max-width: 600px) {
    .informacion {
        grid-template-columns: 1fr; 
    }

    .informacion h3 {
        grid-column: span 1; 
        text-align: center; 
    }

    .buttonInfo {
        grid-column: span 1; 
        justify-self: center; 
        width: 100%; 
    }
}
/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.459);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: 80%;
    position: relative;
    overflow: scroll;
}

.modal h2 {
    color: #333;
    margin-bottom: 15px;
}

.modal input, .modal textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal button {
    background-color: #671C34;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.modal button.close {
    background-color: #f44336;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
}

.modal button:hover {
    opacity: 0.9;
}

