/* Contenedor principal que usa flexbox para alinear sus elementos internos */
.contenedor {
    display: flex;
    width: 100%;
    height: 69.5vh;
    background-color: #ffff;
    padding: 0;
}
.sub_body{
    width: 100%;

}
/* Contenedor de la imagen de fondo */
.imagen-contenedor {
    flex: 1.5; /* La imagen ocupa 2 partes del espacio total del contenedor */
    background-image: url('../../img/corporativas/imagen.avif'); /* Imagen de fondo */
    background-size: cover; /* La imagen cubrirá todo el espacio del contenedor */
    max-height: 500px;
    background-position: center; /* La imagen se centra en el contenedor */
    clip-path: polygon(0 0, 95% 0, 80% 100%, 0 100%); /* Define la forma de ola */
}

/* Contenedor del formulario */
.formulario {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px;
}

/* Estilo del logo dentro del formulario */
.logof {
    width: 100px; /* Ancho del logo */
    margin-bottom: 230px; /* Margen inferior para separar el logo de otros elementos */
}

/* Contenedor del formulario de login */
.login-form {
    width: 100%; /* El formulario ocupa todo el ancho disponible */
    max-width: 300px; /* Ancho máximo del formulario */
    margin-top: -190px; /* Margen superior negativo para ajustar la posición */
}

/* Estilos para los labels del formulario */
.formulario label {
    border: solid 1px rgb(167,167,167); /* Borde de color gris claro */
    background-color: #f4f4f4; /* Fondo gris claro */
    margin-bottom: 23px; /* Separación entre los elementos */
    display: flex; /* Flexbox para alinear los elementos internos del label */
    align-items: center; /* Centra verticalmente los elementos dentro del label */
    border-radius: 5px; /* Esquinas redondeadas */
    padding: 0 12px; /* Espaciado interno en los laterales */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil alrededor del label */
}

/* Estilos para los inputs dentro de los labels */
.formulario label input {
    background-color: #f4f4f4; /* Fondo del input en gris claro */
    width: 100%; /* El input ocupa todo el ancho disponible */
    border: none; /* Sin borde */
    padding: 8px; /* Espaciado interno en el input */
    outline: none; /* Sin borde resaltado al hacer clic */
    color: #333; /* Color del texto en el input */
    font-family: 'Source Sans 3', sans-serif; /* Fuente del texto */
    font-size: 14px; /* Tamaño del texto */
}

/* Estilo para cuando un input dentro del label está enfocado */
.formulario label:focus-within {
    border: 1px solid #0056A1; /* Cambia el color del borde cuando el input está enfocado */
    box-shadow: 0 0 5px rgba(14, 3, 63, 0.5); /* Añade una sombra para indicar el enfoque */
}

/* Estilo del icono dentro del label */
.formulario label i {
    color: #4b4b4b; /* Color del icono dentro del label */
}

/* Estilos para el botón de enviar del formulario */
.formulario input[type="submit"] {
    width: 100%; /* El botón ocupa todo el ancho del contenedor */
    background-color:#0056A1;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    padding: 7px; /* Espaciado interno del botón */
    border-radius: 4px; /* Esquinas redondeadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil alrededor del botón */
}

/* Estilo para el encabezado */
h1 {
    margin-bottom: 20px; /* Separación inferior del encabezado */
}
.alerta {
    color: darkred;
    font-weight: bold;
    border-radius: 5px; /* Esquinas redondeadas */
    margin: -25px 0px 10px 0px; /* Margen para ajustar la posición vertical */
    padding: 7px; /* Espaciado interno */
    text-align: center; /* Texto centrado */
}
